---
http_interactions:
- request:
    method: get
    uri: https://api.parliament.uk/Staging/fixed-query/person_by_id?person_id=43RHonMf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<AUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/n-triples
    body:
      encoding: ASCII-8BIT
      string: "<https://id.parliament.uk/43RHonMf> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>
        <https://id.parliament.uk/schema/Person> .\r\n<https://id.parliament.uk/43RHonMf>
        <https://id.parliament.uk/schema/personGivenName> \"Diane\" .\r\n<https://id.parliament.uk/43RHonMf>
        <https://id.parliament.uk/schema/personOtherNames> \"Julie\" .\r\n<https://id.parliament.uk/43RHonMf>
        <https://id.pa[...]
- request:
    method: get
    uri: http://bandiera.web1devci.org/api/v2/groups/parliament/features
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response":{"show-activity-links":true,"show-classic-search-eol-messaging":false,"show-committees":true,"show-dissolution":false,"show-election":false,"show-government-roles":true,"show-list-images":true,"show-lords-ineligibility-banner":true,"show-opposition-roles":true,"show-post-election":false,"show-register":false}}'
  recorded_at: Mon, 23 Apr 2018 15:31:56 GMT
recorded_with: VCR 4.0.0
